*{
    background-color: rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rojo{
    background-color: red;
}
.azul{
    background-color: blue;
}
.verde{
    background-color: green;
}
.negro{
    background-color: black;
}
#encabezado{
    display: flex;
    justify-content: center;
}
#encabezado .caja{
    text-align: center;
}
#encabezado .caja h1{
    font-size: 5rem;
    color: rgb(5, 5, 5);
}
#encabezado .caja p{
    font-size: 2rem;
    color: rgb(16, 3, 199);
}
#inicio{
    display: flex;
    justify-content: center;
}
#inicio #formulario{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
#listaBedidas, #listaGalletitas{
    display: flex;
    justify-content: center;
    margin: 2rem;
    border: 1px solid black;
}
#bebidas, #galletitas{
    margin: 5rem;
}
footer{
    color: #ccc;
    width: 400px;
    font-size: 1em;
    border-bottom: 1px solid beige;
    margin-top: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;;
}